@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

@font-face {
  font-family: 'DB Chuanpim PSU';
  src: url('@/asset/font/DB_Chuanpim_PSU_Webfont/db_chuanpim_psu_regular.woff2') format('woff2'),
       url('@/asset/font/DB_Chuanpim_PSU_Webfont/db_chuanpim_psu_regular.woff') format('woff'),
       url('@/asset/font/DB_Chuanpim_PSU_Webfont/db_chuanpim_psu_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DB Chuanpim PSU';
  src: url('@/asset/font/DB_Chuanpim_PSU_Webfont/db_chuanpim_psu_bd.woff2') format('woff2'),
       url('@/asset/font/DB_Chuanpim_PSU_Webfont/db_chuanpim_psu_bd.woff') format('woff'),
       url('@/asset/font/DB_Chuanpim_PSU_Webfont/db_chuanpim_psu_bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --font-bebas: "Bebas Neue", cursive;
  --font-jost: "Jost", sans-serif;
  --font-noto: "Noto Sans Thai", sans-serif;
  --font-sans: "Jost", "Noto Sans Thai", "DB Chuanpim PSU", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: "Jost", "Noto Sans Thai", "DB Chuanpim PSU", sans-serif;
  }
}

